<?xml version="1.0"?>
<config>	
	<modules>
	<Ooredoo_Layoutviewer>
		<version>0.1.0</version>
	</Ooredoo_Layoutviewer></modules>

	<global>
		<models>
			<Ooredoo_layoutviewer>
				<class>Ooredoo_Layoutviewer_Model</class>
			</Ooredoo_layoutviewer>
			
			<core>
				<rewrite>
					<layout_update>Ooredoo_Layoutviewer_Model_Layout_Update</layout_update>
				</rewrite>
			</core>
			
		</models>
	
		<events>
			<controller_action_postdispatch>
				<observers>
					<Ooredoo_layoutviewer_model_observer>
						<type>singleton</type>						
						<class>Ooredoo_Layoutviewer_Model_Observer</class>
						<method>checkForLayoutDisplayRequest</method>
					</Ooredoo_layoutviewer_model_observer>
				</observers>
			</controller_action_postdispatch>
		</events>
	</global>	
</config>
