<?xml version="1.0"?>
<config>	
	<modules>
	<Ooredoo_Weblog>
		<version>0.2.0</version>
	</Ooredoo_Weblog>
    </modules>
    <frontend>
    <routers>
        <weblog>
            <use>standard</use>
            <args>
                <module>Ooredoo_Weblog</module>
                <frontName>weblog</frontName>
            </args>
        </weblog>
    </routers>
</frontend>
    <global>
    <!-- ... -->
    <models>
        <weblog>
            <class>Ooredoo_Weblog_Model</class>
            <resourceModel>weblog_resource</resourceModel>
        </weblog>
        <weblog_resource>
            <class>Ooredoo_Weblog_Model_Resource</class>
            <entities>
                <essai>
                    <table>essai</table>
                </essai>
                <blogpost>
                    <table>blog_posts</table>
                </blogpost>
            </entities>
        </weblog_resource>
    </models>
    <resources>
        <weblog_setup>
            <setup>
                <module>Ooredoo_Weblog</module>
                <class>Ooredoo_Weblog_Model_Resource_Setup</class>
            </setup>
        </weblog_setup>
    </resources>
    <!-- ... -->
</global>
</config>
