<config>
    <modules>
        <Ooredoo_Configviewer>
            <version>0.1.0</version>
        </Ooredoo_Configviewer>
    </modules>
     <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <Ooredoo_configviewer_model_observer>
                        <type>singleton</type>
                        <class>Ooredoo_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </Ooredoo_configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>